.download_table thead th,.download_table tbody td{
    border: none;
}


.download_table thead th{
    padding-top: 20px;
    padding-bottom: 30px;
}

.download_table tbody td {
    padding: 0;
    padding-bottom: 20px;
    height: 75px;   
}
.download_table tbody tr div{
    background-color: white;
    height: 100%;
}

.download_border{
    border-left:  4px solid #f8f9fa;
}